html, body {
    height: 100%;
    background-color:black;
    color:white;
}


.goods-contents {
    width: 100%;
}

.goods-contents ul li {
    list-style:none;
    margin-right : 70px;
    margin-top: 50px;
}

.goods-contents ul {
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 100%;
    height:100px;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 35px;
}

.goods-shippingPrice {
    color: grey;
    font-size: 14px;    
}

.nav {
    width:230px;
    height:60px;
    background-color:grey;
    display:flex;
    list-style: none;
    float:right;
    border-bottom:4px solid white;
    align-items: center;
    margin:0;
    padding:0;
}
.goods-list , .shopping-cart , .order-list {
    align-items: center;
    width: auto;
    margin: auto;
}
