.Option {
    width:100%;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size:15px;
    border: 2px solid #dfdfdf;
    background-color:white;
}


.Option:focus {
    border: 3px solid #555;
  }