
.ProductList {
    width:270px;
    margin-right:60px;
}

.Pricebox {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.ShippingPrice {
    font-size: 14px;
    margin-top:-10px;
    color:grey;
}