* {
    margin:0; 
    padding:0;
}
header {
    overflow: hidden;
    background-color: #FAFAFA;
    height: 100px;
}
.logo img {
    float:left;
    line-height:10px;
    margin-top:5px; width:120px; height:40px;
}
.logo input {
    float:left;
}
#text {
    overflow: hidden;
}

.search-input {
    position: relative;
    float: left;
    width: 600px; 
    height:37px;
    margin-left: 20px;
    outline:none;
    padding: 2px 18px;
}
.search-items {
    position: absolute;
    right: 650px;
    top: 30px;
}
header form {
    padding:15px;
    height: 44px;
}
nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width:600px;
    margin-left: 130px;
    text-align:center;
}
nav li {
    list-style:none;
    float: left;
    width:50px;
    height:15px;
    font-size: 14px;
    text-align:center;
}
#wrap {
    width:1107px;
    margin:10px auto;
}
#wrap:after {
    content:'';
    display:block;
    clear:both;
}
#contents1 {
    width:62%;
    vertical-align: middle;
    font-size: 10px;
    height:auto;
    box-sizing:border-box;
    float:left;
    display:inline-block;
}


#contents1 h3 {
    font-size:17px;
    font-weight:normal;
}

#contents1 a {
    text-decoration:none;
}


#contents2 {
    width:33%;
    height:auto;
    border:1px solid lightgrey;
    box-sizing:border-box;
    float:left;
    display:inline-block;
    align:center;
    padding: 5px;
    margin-left: 46px;
    margin-top: 50px;

}
#contents2 h3 {
    float:left;
    width: 158px;
    line-height: 50px;
    margin-left: 10px;
    margin-top: 35px;
}

#contents2 div p {
    border-top:1px solid lightgrey;
    padding: 10px 10px;
}
#map {
    overflow: hidden;
    border: 1px solid lightgrey;
}

#map div {
    float: left;
}
#img {
    overflow: hidden;
}
#img div {
    float:left
}
p{
    font-size:14px;
}
.wrap1 {
    margin-left:10%;
}
#vedio {
    overflow:hidden;
    width:80%;
    border:1px solid;
    border-color:none;
    border-collapse:collapse;
    border-radius:30px
}
.video1, .video2, .video3 {
    width:198px;
    height:300px;
    display: inline-block;
    border:1px solid lightgrey;

}
#container {
    font-size:14px;
}
li { 
    width:130px; 
    height:96px;
    margin-right: 1px;
    border:1px solid lightgrey;
    display: inline-block;
    }

#img ul li img {
    width:130px;
    height:94px;
}

footer {
    background-color: #F2F2F2; 
    font-size:14px;
}