* {
    margin:0; 
    padding:0;
}
header {
    overflow: hidden;
    background-color: #FAFAFA;
    height: 100px;
}
.logo img {
    float:left;
    line-height:10px;
    margin-top:5px; width:120px; height:40px;
}
.logo input {
    float:left;
}
#text {
    overflow: hidden;
}   

.search-input {
    position: relative;
    float: left;
    width: 600px; 
    height:37px;
    margin-left: 20px;
    outline:none;
    padding: 2px 18px;
}
.search-items {
    position: absolute;
    right: 650px;
    top: 30px;
}
header form {
    padding:15px;
    height: 44px;
}
nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width:600px;
    margin-left: 130px;
    text-align:center;
}
nav li {
    list-style:none;
    float: left;
    width:50px;
    height:24px;
    font-size: 14px;
    text-align:center;
}
nav li a {
    text-decoration: none;
    padding-bottom:4px;
}
nav li a:hover ~ .transparent-border {
    visibility: visible;
    opacity:1;
}
nav li .transparent-border {
    opacity:0;
    visibility: hidden;
    width:100%;
    height:3px;
    background-color:steelblue;
    margin-top:4px;
    transition: all 0.3s ease-out;
}
#wrap, footer{
    width:1107px;
    margin:10px auto;
}
#wrap:after {
    content:'';
    display:block;
    clear:both;
}
#contents1 {
    width:62%;
    vertical-align: middle;
    font-size: 10px;
    height:auto;
    box-sizing:border-box;
    float:left;
}


#contents1 h3 {
    font-size:17px;
    font-weight:normal;
}

#contents1 a {
    text-decoration:none;
}


#contents2 {
    width:33%;
    height:auto;
    border:1px solid lightgrey;
    box-sizing:border-box;
    display:inline-block;
    padding: 5px;
    margin-left: 46px;
    margin-top: 50px;

}
#contents2 h3 {
    float:left;
    width: 158px;
    line-height: 50px;
    margin-left: 10px;
    margin-top: 35px;
}

#contents2 div p {
    border-top:1px solid lightgrey;
    padding: 10px 10px;
}
#map {
    overflow: hidden;
    border: 1px solid lightgrey;
}

#map div {
    float: left;
}
.search-result-imgs {
    overflow: hidden;
}
.search-result-imgs div {
    float:left
}
.search-result-imgs ul li {
    width:130px;
    height:94px;
    margin-right: 1px;
    border:1px solid lightgrey;
    display: inline-block;
}
.search-result-imgs ul li img{
    width:100%;
    height:100%;
}
p{
    font-size:14px;
}
.wrap1 {
    margin-left:10%;
}
#video {
    /* overflow:hidden;
    width:80%;
    border:1px solid;
    border-color:none;
    border-collapse:collapse;
    border-radius:30px */
}
#video ul li {
    border: 1px solid gainsboro;
    display:inline-block;
    list-style:none;
    width:28.5%;
    margin-right:5px;
}
#video ul li p {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin:5px;
}
/* .video1 {
    width:198px;
    height:300px;
    display: inline-block;
    border:1px solid lightgrey;
    margin-right: 1px;
    
}
.video2 {
    width:198px;
    height:300px;
    display: inline-block;
    border:1px solid lightgrey;
    border:1px solid lightgrey;
} */
#container {
    font-size:14px;
}
footer .footer-wrap {
    width:1107px;
    margin:10px auto;
    padding:10px 0;
}
footer {
    font-size:14px;
    width:100%;
    background-color: #FAFAFA
}
footer .footer-border {
    width:100%;
    height:1px;
    background-color:gainsboro;
}
