html,body {
    background-color: black;
    color:white;
    height:100%;
}

[data-task-management] {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}

@keyframes fadeIn {
    0% { filter: brightness(0)}
    50% { filter: brightness(1)}
    100% {filter:brightness(0.5)}
}

[data-bg] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    filter:brightness(0.5);
    animation-name: fadeIn;
    animation-duration: 7s;
    animation-iteration-count: 1;
    
}

[data-clock] [data-time] {
    font-size: 12rem;
}

[data-clock] {
    z-index:1;
}

[data-name] {
    z-index:1;
}

[data-todo] {
    z-index:1;
}


[data-name] input {
    background-color : transparent;
    outline: none;
    padding: 10px;
    font-size: 40px;
    border:none;
    border-bottom: 1px solid #ccc;
    color: white;
    text-align:center;
}

[data-name] h1 {
    font-size: 40px;
}

[data-name], [data-todo] input::placeholder {
    color:#ccc;
    text-align:center;
}

[data-todo] input {
    background-color : transparent;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border:none;
    border-bottom: 1px solid #ccc;
    color: white;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: transparent;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}  

  ul li:hover {
    background: #ddd;
  }


  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: red;
    color: white;
  }
  