.cartItemsList {
    width:500px;
    height:164px;
    margin:auto;
    padding:20px;
    border:1px solid #eee;
    box-shadow:0 2px 3px #ccc;
    box-sizing: border-box;
    margin-bottom:40px;
}

.cartItemsList p {
    /* align-items:center;
    display:flex; */
    font-size:14px;
}


.cartItemsList span {
    color:grey;
    font-size:12px;
    display:block; 
    margin-top:10px;   
}